body {
  background-color: #e4f9f5;
}
hr {
    border-color: #99ddcc;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 50px;
}
img {
  border-radius: 85px;
  height: 170px;
  width: 170px;

}
ul {
  align-items: center;
  text-align: center;
}
h1{
 color: #28b5b5;
}
h2{
  color:#28b5b5;
}
h3{
  color:#28b5b5;
}
